body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: white;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    gap: 10px;
}

button {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: #9f01f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #56047b;
}

.results {
    margin-top: 20px;
    background: #eef3ff;
    padding: 15px;
    border-radius: 5px;
}
